.container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  height: 100vh;
}
.container__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
