.addMessageContent {
  padding: 8px;
  margin: 8px;
}

.addMessageContent__input {
  min-height: 40px;
  min-width: 400px;
}

.addMessageContent__button {
  min-width: 200px;
  min-height: 44px;
  margin: 8px;
  background: dodgerblue;
  color: #fff;
}
